{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 1500,
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}